.reviews {
  width: 50%;
  display: table-cell;
  background: #f5f5f5;
  box-sizing: border-box;
  direction: ltr;
  padding: 100px 63px 100px 73px;
}

@media screen and (max-width: 1280px) {
  .reviews {
    padding: 50px 30px;
    display: block;
    width: 100%;
    overflow: auto;
  }
}

@media screen and (max-width: 425px) {
  .reviews {
    padding: 47px 0 36px;
  }
}

.reviews__content {
  max-width: 960px;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 1280px) {
  .reviews__content {
    margin: 0 auto;
  }
}

.reviews__line {
  background: #00c368;
  margin: 0 auto;
  width: 184px;
  height: 4px;
}

.reviews__title {
  margin: 18px 0 48px;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  padding-right: 10px;
  text-align: center;
  color: #2e3a59;
}

@media screen and (max-width: 425px) {
  .reviews__title {
    padding: 0;
    margin: 16px 0 44px;
    font-size: 24px;
    line-height: 28px;
  }
}

.reviews__review {
  padding-left: 55px;
  overflow: auto;
  margin-bottom: 140px;
}

@media screen and (max-width: 425px) {
  .reviews__review {
    margin-bottom: 0;
    padding: 0 16px 35px;
    position: relative;
  }
}

@media screen and (max-width: 425px) {
  .reviews__review::before {
    position: absolute;
    content: url(../../images/apostrof2.png);
    top: 71px;
    left: 32px;
  }
}

@media screen and (max-width: 425px) {
  .reviews__review::after {
    position: absolute;
    content: url(../../images/apostrof2.png);
    top: 71px;
    right: 32px;
    transform: rotate(180deg);
  }
}

.reviews__review_type_left {
  float: left;
}

.reviews__review_type_right {
  float: right;
}

.reviews__review_type_left,
.reviews__review_type_right {
  width: calc((100% - 30px) / 2);
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .reviews__review_type_left,
  .reviews__review_type_right {
    width: 100%;
    float: none;
    padding: 0 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 425px) {
  .reviews__review_type_left::after,
  .reviews__review_type_right::after,
  .reviews__review_type_left::before,
  .reviews__review_type_right::before {
    content: none;
  }
}

.reviews__img {
  float: left;
  width: 187px;
  height: 187px;
}

@media screen and (max-width: 1024px) {
  .reviews__img {
    float: left;
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 425px) {
  .reviews__img {
    float: none;
    position: absolute;
    width: 97px;
    height: 97px;
    top: 0;
    left: calc((100% - 97px) / 2);
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
  }
}

.reviews__img_type_left {
  float: right;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .reviews__img_type_left {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 425px) {
  .reviews__img_type_left {
    float: left;
  }
}

.reviews__img_type_right {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .reviews__img_type_right {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 425px) {
  .reviews__img_type_right {
    float: right;
  }
}

@media screen and (max-width: 425px) {
  .reviews__img_type_left,
  .reviews__img_type_right {
    width: 59px;
    height: 59px;
    position: relative;
    left: 0;
    top: 0;
  }
}

.reviews__text {
  float: right;
  width: calc(100% - 187px - 14px);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #2e3a59;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  padding: 0 20px 0 57px;
}

@media screen and (max-width: 1024px) {
  .reviews__text {
    width: calc(100% - 110px - 14px);
  }
}

@media screen and (max-width: 425px) {
  .reviews__text {
    float: none;
    width: 100%;
    padding: 80px 16px 15px;
    margin-top: 47px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    border-radius: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.reviews__text::before {
  content: url(../../images/apostrof.png);
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 425px) {
  .reviews__text::before {
    content: none;
  }
}

.reviews__text::after {
  content: url(../../images/apostrof.png);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

@media screen and (max-width: 425px) {
  .reviews__text::after {
    content: none;
  }
}

.reviews__text_type_left {
  float: left;
  padding: 0 0 0 55px;
  max-width: 240px;
  width: calc(100% - 100px - 55px);
  box-sizing: content-box;
}

@media screen and (max-width: 1024px) {
  .reviews__text_type_left {
    width: calc(100% - 60px - 55px);
  }
}

.reviews__text_type_right {
  max-width: 240px;
  width: calc(100% - 100px - 40px);
  padding: 0 40px 0 0;
  box-sizing: content-box;
}

@media screen and (max-width: 1024px) {
  .reviews__text_type_right {
    width: calc(100% - 60px - 40px);
  }
}

@media screen and (max-width: 425px) {
  .reviews__text_type_left,
  .reviews__text_type_right {
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    box-shadow: none;
    border-radius: 0px;
    text-shadow: none;
    margin: 0;
    padding: 0;
    max-width: none;
  }
}

@media screen and (max-width: 425px) {
  .reviews__text_type_left {
    float: right;
    margin-left: 15px;
    width: calc(100% - 15px - 59px);
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 425px) {
  .reviews__text_type_right {
    float: left;
    margin-right: 15px;
    width: calc(100% - 15px - 59px);
  }
}

.reviews__text_type_left::before,
.reviews__text_type_left::after,
.reviews__text_type_right::before,
.reviews__text_type_right::after {
  content: none;
}

.reviews__author {
  font-weight: bold;
  display: block;
  line-height: 300%;
  padding-top: 5px;
}
